# Archivos y directorios de Python
__pycache__/
*.py[cod]
*$py.class


# Entornos virtuales
venv/
env/
.venv/

# Archivos de IDE y editores
.vscode/
.idea/
*.swp
*.swo

# Archivos de base de datos
*.db
*.sqlite3

# Archivos de configuración local
config.py
settings_local.py

# Archivos de log
*.log

# Archivos temporales
*.tmp

# Directorios de construcción
build/
dist/

# Archivos de configuración de paquetes
*.egg-info/

# Archivos de caché de pytest
.pytest_cache/

# Archivos de cobertura
.coverage
htmlcov/

# Archivos de documentación generados
docs/_build/
docs/doctrees/

# Archivos específicos de logica del proyecto
crear_admin.py
admin_one.py

#.DS_store - documentacion
.DS_store
documentacion