altgraph==0.17.4
greenlet==3.0.3
iniconfig==2.0.0
macholib==1.16.3
packaging==24.1
pluggy==1.5.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pytest ==8.3.2
setuptools==72.2.0
SQLAlchemy==2.0.31
typing_extensions==4.12.2
bcrypt ==4.2.0